<div *ngIf="event != null" class="item">
    <div class="emoji" (click)="onEmojiClick($event)">
        <div *ngIf="event.emoji != null">{{event.emoji}}</div>
        <div class="empty" *ngIf="event.emoji == null"></div>
    </div>
    <div class="groupName">
        <app-event-group-picker class="underlined" [value]="event.eventGroup" (valueChange)="groupChanged($event)">
        </app-event-group-picker>
    </div>
    <div class="name">
        <div class="underlined" contenteditable="true" (input)="onPropertyChange('name', $event.target.innerText)">
            {{event.name}}</div>
    </div>
    <div class="order">
        <div *ngIf="!isNew">
            <span class="orderButton no-select" (click)="decreaseOrder()">▲</span>
            {{newEvent.order}}
            <span class="orderButton no-select" (click)="increaseOrder()">▼</span>
        </div>
    </div>
    <div class="eventDate">
        <div (click)="datePicker.open()">
            {{event.date | date: 'dd/MM/yyyy'}}
        </div>
        <input [matDatepicker]="datePicker" [(ngModel)]="event.date" (ngModelChange)="onPropertyChange('date', $event)"
            style="height: 0px; visibility: hidden; position: absolute;">
        <mat-datepicker #datePicker></mat-datepicker>
    </div>
</div>
<hr />
<div class="buttons">
    <app-button text="Save" color="success" look="solid" [disabled]="!isDirty || isSaving" [isLoading]="isSaving"
        (onClick)="onSaveClick()"></app-button>
    &nbsp;
    <app-button text="Cancel" color="danger" look="solid" (onClick)="onCancelClick()"></app-button>
    <app-button *ngIf="!isNew" text="Delete" color="danger" look="solid" [style.float]="'right'" [disabled]="isDeleting"
        [isLoading]="isDeleting" (onClick)="onDeleteClick()"></app-button>
</div>