<div *ngIf="event != null" class="item">
    <div class="emoji" (click)="onEmojiClick($event)">
        <div *ngIf="event.emoji != null">{{event.emoji}}</div>
        <div class="empty" *ngIf="event.emoji == null"></div>
    </div>
    <div class="groupName">
        <app-event-group-picker class="underlined" [value]="event.eventGroup" (valueChange)="groupChanged($event)">
        </app-event-group-picker>
    </div>
    <div class="name">
        <div class="underlined" contenteditable="true" (input)="onPropertyChange('name', $event.target.innerText)">
            {{event.name}}</div>
    </div>
    <div class="order">
        <div *ngIf="!isNew">
            <span class="orderButton no-select" (click)="decreaseOrder()">▲</span>
            {{newEvent.order}}
            <span class="orderButton no-select" (click)="increaseOrder()">▼</span>
        </div>
    </div>
    <div class="eventDate">
        <div (click)="datePicker.open()">
            {{event.date | date: 'dd/MM/yyyy'}}
        </div>
        <input [matDatepicker]="datePicker" [(ngModel)]="event.date" (ngModelChange)="onPropertyChange('date', $event)"
            style="height: 0px; visibility: hidden; position: absolute;">
        <mat-datepicker #datePicker></mat-datepicker>
    </div>
</div>
<hr />
<div class="buttons">
    <div class="button button-save" [ngClass]="{'disabled': !isDirty}" (click)="onSaveClick()">Save</div>
    <div class="button button-cancel" (click)="onCancelClick()">Cancel</div>
    <div *ngIf="!isNew" class="button button-cancel" style="float: right;" (click)="onDeleteClick()">Delete</div>
</div>