.item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.emoji {
    cursor: pointer;
    min-width: 55px;
    flex: 0 0;
}

.emoji > div {
    font-size: 1.8rem;
    text-align: center;
    width: min-content;
    border: 2px dashed black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -2px;
    margin-top: -2px;
    padding: 0px 3px;
}

.emoji > .empty {
    font-size: 1.8rem;
    text-align: center;
    width: 50px;
    height: 50px;
    border: 2px dashed black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -2px;
    margin-top: -2px;
    padding: 0px 3px;
}

.groupName {
    min-width: 100px;
    flex: 0 0;
}

.name {
    flex: 1 1;
}

.name > div {
    font-size: 1rem;
    font-weight: bold;
    min-width: 100px;
}

.line-break {
    width: 0;
}

@media screen and (max-width: 550px) {
    .line-break {
        width: 100%;
    }

    .groupName {
        min-width: 60px;
    }
}

.order {
    text-align: center;

    margin-left: auto;
    min-width: 75px;
    flex: 0 0;
}

.order-container {
    display: flex;
    gap: 10px;
}

.orderButton {
    cursor: pointer;
    color: rgb(120, 120, 120);
}

.orderButton:hover {
    color: rgb(190, 190, 190);
}

.orderButton:active {
    color: rgb(40, 40, 40);
}

.eventDate {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    min-width: 110px;
    flex: 0 0;
}

.eventDate > div {
    color: black;
    width: min-content;
    white-space: nowrap;
    border-bottom: 2px dashed black;
    outline: none;
    margin-left: -3px;
    padding-left: 3px;
    margin-bottom: -5px;
    padding-bottom: 3px;
}

.eventDate > input {
    visibility: hidden;
    position: relative;

    height: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    border-width: 0;
}

.underlined {
    max-width: 100%;
    width: fit-content;
    margin: auto;
    border-bottom: 2px dashed black;
    outline: none;
    margin-left: -3px;
    margin-right: -10px;
    margin-bottom: -5px;
    padding-bottom: 3px;
}

.buttons {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
