.name {
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 10px;
}

.loading {
    height: 70px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    font-size: 1rem;
    text-align: center;
    line-height: 70px;
}