<div class="wrapper" [ngClass]="{'not-clickable': !interactible}" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()"
    (click)="click($event)" [style.width]="size + 'px'">
    <img *ngIf="showWappEmoji" [src]="iconUrl" (error)="imgLoadingError()" [height]="size" />
    <span *ngIf="!showWappEmoji" class="no-select" [innerHTML]="emojiHtml" [style.height]="size + 'px'" [style.font-size]="size - 4 + 'px'"></span>
    <div *ngIf="showName && interactible" class="name">{{emojiName}}</div>
</div>
<app-toast></app-toast>