<div class="title">Number of emojis</div>
<app-statistic-display [statisticUrl]="'statistic/getStatistic/numberOfEmojis'"></app-statistic-display>
<hr />
<div *ngIf="emojis != null">
    <div *ngFor="let emojiInfo of emojis.emojiInfos | slice: 0 : showCount">
        <app-emoji-info-single [emojiInfo]="emojiInfo"></app-emoji-info-single>
    </div>

    <div *ngIf="showCount < emojis.emojiInfos.length" (click)="showMoreClicked()" class="wrapper w-clickable">
        <div class="show-more">
            <span><span class="gg-arrow-down"></span>&nbsp;Show more</span>
        </div>
        <div class="w-overlay"></div>
    </div>
</div>