<div class="my-container">
    <div class="clickable" (click)="togglePicker()">
        <span *ngIf="value == null">Select...</span>
        <span *ngIf="value != null">{{value.name}}</span>
    </div>
    <div *ngIf="pickerVisible" class="picker">
        <div *ngIf="isLoading">Loading...</div>
        <div *ngIf="!isLoading" class="items-container">
            <app-button *ngFor="let item of eventGroups" [text]="item.name" [curved]="false" width="100%" (onClick)="select(item)">
            </app-button>
        </div>
    </div>
</div>