<div *ngIf="isLoading" style="margin-top: 100px">
    <app-loading></app-loading>
</div>
<div class="title" *ngIf="statistic != null">{{displayName}}</div>
<div class="total" *ngIf="statistic != null">Total: {{statistic.total | number}}</div>
<div [id]="'chartContainerTotal' + id" style="height: 370px; width: 100%;"></div>
<div class="event-group-filter">
    <app-date-range-filter></app-date-range-filter>
    <app-event-group-filter></app-event-group-filter>
</div>
<div style="position: relative;">
    <div [id]="'chartContainerGraph' + id" style="height: 600px; width: 100%;"></div>

    <svg *ngFor="let item of eventElements" style="position: absolute; pointer-events: none;"
        [style.left]="item.left + 'px'" [style.top]="item.top + 'px'"
        [style.width]="eventEmojiSize + 'px'" [style.height]="eventEmojiSize + 'px'" viewBox="0 0 18 20">
        <text x="9" y="15" style="text-align: center; font-size:unset; text-anchor: middle"
            [innerHTML]="item.emoji"></text>
    </svg>
</div>
