.title {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.total {
    text-align: center;
    font-size: 2em;
}

.event-emoji {
    display: inline-block;
    position: absolute;
    pointer-events: none;
    text-align: center;
    font-size: 19px;
}

.filters {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.filters>*:first-child {
    flex-grow: 1;
}