.title {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.total {
    text-align: center;
    font-size: 2em;
}

.event-emoji {
    display: inline-block;
    position: absolute;
    pointer-events: none;
    text-align: center;
    font-size: 19px;
}