.my-container {
    display: flex;
}

.my-container>div {
    margin: 10px;
}

.emoji-container {
    display: flex;
    z-index: 1000;
}

.total-container {
    font-size: 1.4em;
    flex-basis: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-container {
    flex-grow: 100;
}

.wrapper {
    cursor: pointer;
}