<div [style.height]="height + 'px'" class="my-wrapper">
    <div class="w-card my-container" (keypress)="keypress($event)">
        <div class="title">Welcome!</div>

        <div class="input-container">
            <div class="label">Email</div>
            <input class="w-input" type="text" placeholder="Email" [(ngModel)]="email">
            <div class="validation-message">{{ validationErrors['email'] }}</div>
        </div>

        <div class="input-container">
            <div class="label">Username</div>
            <input class="w-input" type="text" placeholder="Username" [(ngModel)]="username">
            <div class="validation-message">{{ validationErrors['username'] }}</div>
        </div>

        <div class="input-container">
            <div class="label">Password</div>
            <input class="w-input" type="password" placeholder="Password" [(ngModel)]="password">
            <div class="validation-message">{{ validationErrors['password'] }}</div>
        </div>

        <div class="input-container">
            <div class="label">Repeat password</div>
            <input class="w-input" type="password" placeholder="Repeat password" [(ngModel)]="repeatPassword">
            <div class="validation-message">{{ validationErrors['repeatPassword'] }}</div>
            <div class="validation-message">{{ validationErrors['other'] }}</div>
        </div>

        <app-button text="Register" color="success" look="solid" width="100%" alignContent="center" [disabled]="isLoading"
            [isLoading]="isLoading" (onClick)="register()"></app-button>

        <div class="login">Already a user? <a routerLink="/login">Login</a></div>
    </div>
</div>