.title {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.wrapper {
    position: relative;
    width: min-content;
    margin: auto;
    cursor: pointer;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
}
.overlay:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.overlay:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.show-more {
    width: min-content;
    white-space: nowrap;
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 1.6em;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: #FEE9E1;
    cursor: pointer;
}

.gg-arrow-down {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px
}
.gg-arrow-down::after,
.gg-arrow-down::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    bottom: 4px
}
.gg-arrow-down::after {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(-45deg);
    left: 7px
}
.gg-arrow-down::before {
    width: 2px;
    height: 16px;
    left: 10px;
    background: currentColor
}