<div class="my-container">
    <div class="button no-select" [ngClass]="{'active-filters': notSelected.length != 0}" (click)="togglePopup()">
        Event group filter
    </div>
    <div *ngIf="popupVisible" class="popup">
        <div *ngIf="isLoading">Loading...</div>
        <div *ngIf="!isLoading">
            <div *ngIf="notSelected.length != 0" class="clickable no-select" (click)="selectAll()">All</div>
            <div *ngIf="notSelected.length == 0" class="clickable no-select" (click)="selectNone()">None</div>
            <div *ngFor="let item of eventGroups" class="clickable item no-select" (click)="toggle(item)">
                <div class="checkbox">
                    <span *ngIf="isSelected(item)">✓</span>
                </div>
                <div>
                    {{item.name}}
                </div>
            </div>
        </div>
    </div>
</div>