.my-wrapper {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.type-last {
    display: flex;
}

.type-last>div {
    box-sizing: border-box;
    border: 1px solid rgb(179, 179, 179);
    width: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-right: -1px;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.type-last>div:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.type-last>div:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.type-last>.selected {
    border-width: 3px;
    border-color: #D05353;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 10;
}

.type-last>div:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .1;
}

.type-last>div:active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .2;
}

.type-last>div:first-child::before {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.type-last>div:last-child::before {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.type-period {
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.type-period>.button {
    padding: 5px 0px;
    border: 1px solid rgb(179, 179, 179);
    background-color: white;
    position: relative;
    cursor: pointer;
}

.type-period>.button:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .1;
}

.type-period>.button:active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .2;
}

.type-period>.left {
    flex-grow: 1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: rgb(80, 80, 80);
    width: 35px;
    text-align: center;
}

.type-period>.right {
    flex-grow: 1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: rgb(80, 80, 80);
    width: 35px;
    text-align: center;
}

.type-period>.left::before {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.type-period>.right::before {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.type-period>.middle {
    flex-grow: 8;
    width: 185px;
    text-align: center;
    padding-right: 20px;
}

.editPeriod {
    position: absolute;
    top: 6px;
    right: 42px;
    display: inline-block;
    cursor: pointer;
    color: rgb(100, 100, 100);
    z-index: 10;
    font-size: 1rem;
}

.editPeriod:hover {
    color: rgb(180, 180, 180);
}

.editPeriod:active {
    color: black;
}

.popup {
    position: absolute;
    left: 0px;
    top: 100%;
    transform: translateY(2px);
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2px 4px;
    z-index: 5000;
    width: 100%;
}

.item::before {
    border-radius: 4px;
}

.item {
    position: relative;
    font-size: 1rem;
    margin: 2px 0px;
    padding: 5px 15px;
    cursor: pointer;
}

.item:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .1;
}

.item:active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .2;
}

.item.selected {
    font-weight: bold;
}

.type-range {
    display: flex;
    align-items: center;
}

.to {
    font-size: 1rem;
    margin: 0px 9px;
}

.date-input {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: black;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 8px;
    background-color: white;
    padding: 5px 10px;
}

.date-input::before {
    border-radius: 8px;
}

.date-input:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .1;
}

.date-input:active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .2;
}