<div class="my-wrapper">
    <app-dropdown [items]="dateRangeTypeItems" [value]="dateRangeTypeObject" displayProperty="name"
        (valueChange)="onDateRangeTypeChanged($event)"></app-dropdown>
    &nbsp;
    <div *ngIf="dateRangeType == dateRangeTypes.LAST" class="type-last no-select">
        <div [ngClass]="{selected: dateLastDaysRange == 1}" (click)="onDaysRangeSelected(1)">1D</div>
        <div [ngClass]="{selected: dateLastDaysRange == 7}" (click)="onDaysRangeSelected(7)">7D</div>
        <div [ngClass]="{selected: dateLastDaysRange == 30}" (click)="onDaysRangeSelected(30)">30D</div>
        <div [ngClass]="{selected: dateLastDaysRange == 12 * 7}" (click)="onDaysRangeSelected(12 * 7)">12W</div>
        <div [ngClass]="{selected: dateLastDaysRange == 364 / 2}" (click)="onDaysRangeSelected(364 / 2)">6M</div>
        <div [ngClass]="{selected: dateLastDaysRange == 365}" (click)="onDaysRangeSelected(365)">1Y</div>
    </div>
    <div *ngIf="dateRangeType == dateRangeTypes.PERIOD" class="type-period">
        <div class="left button no-select" (click)="onPeriodDecreaseIndex()">⯇</div>
        <div #periodButton class="middle button no-select" (click)="onPeriodOpenPopup()">
            {{formatPeriod()}}
            <div *ngIf="popupVisible" class="popup">
                <div>
                    <div *ngFor="let item of periodItems" class="item no-select" (click)="selectPeriod($event, item.value)">
                        {{item.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="right button no-select" (click)="onPeriodIncreaseIndex()">⯈</div>
    </div>
    <div *ngIf="dateRangeType == dateRangeTypes.RANGE" class="type-range">
        <div class="date-input" [dpDayPicker]="dateConfig" theme="dp-material" (onSelect)="onFromDateSelected($event)">
            {{dateRangeFrom | date: 'dd/MM/yyyy'}}
        </div>
        <div class="to">
            to
        </div>
        <div class="date-input" [dpDayPicker]="dateConfig" theme="dp-material" (onSelect)="onToDateSelected($event)">
            {{dateRangeTo | date: 'dd/MM/yyyy'}}
        </div>
    </div>
</div>