<div>
    <div class="title">Events</div>

    <div class="stickyTop">
        <div class="filters">
            <app-event-search></app-event-search>
            <app-event-group-filter></app-event-group-filter>
            <app-date-range-filter></app-date-range-filter>
        </div>

        <div *ngIf="!addingNew" class="add-new-buttons-container">
            <app-button text="Add new" icon="plus" look="outlined" borderStyle="dashed" color="success"
                alignContent="center" (onClick)="onNewClick()"></app-button>

            <app-button *ngFor="let template of eventTemplates.slice(0, 4)" [text]="getTemplateDisplay(template)"
                look="outlined" borderStyle="dashed" color="success" alignContent="center" (onClick)="onNewWithTemplateClick(template)"></app-button>
        </div>


        <div *ngIf="addingNew" class="w-card item-wrapper">
            <div class="item">
                <app-event-edit style="width: 100%;" [template]="selectedTemplate" [isNew]="true" (onDone)="onNewDone($event)"></app-event-edit>
            </div>
        </div>
    </div>

    <div class="blankSpace"></div>

    <div class="result-count">Results: {{count}}</div>

    <div *ngFor="let day of events | keyvalue | orderBy: 'key' : true">
        <div class="date" [ngClass]="{'top170': !addingNew, 'top290': addingNew}">{{formatDate(day.key, true)}}</div>
        <div *ngFor="let item of day.value | orderBy: 'order'" class="w-card item-wrapper">
            <div *ngIf="editingEventInfo != item" class="item w-clickable">
                <div class="emoji">{{item.emoji}}</div>
                <div class="groupName">{{item.groupName}}</div>
                <div class="name">{{item.name}}</div>
                <div class="order">{{item.order}}</div>
                <div class="eventDate">{{formatDate(item.date, false)}}</div>
                <div class="w-overlay" (click)="onClick(item)"></div>
            </div>
            <div *ngIf="editingEventInfo == item" class="item">
                <app-event-edit [id]="item.id" style="width: 100%;" (onDone)="onEditDone($event)"></app-event-edit>
            </div>
        </div>
    </div>
</div>