.title {
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.stickyTop {
    position: sticky;
    background-color: #fff7f4;
    z-index: 100;
    top: 0;
    margin: -20px;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 6px 4px #f5edea;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.filters > *:first-child {
    flex-grow: 1;
}

.add-new-buttons-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    & > app-button {
        flex-grow: 1;
    }
}

.blankSpace {
    height: 30px;
}

.result-count {
    position: absolute;
    font-size: 1.2rem;
    color: rgb(73, 73, 73);
    text-align: right;
    z-index: 20;
    right: 20px;
    top: 310px;
}

.date {
    position: sticky;
    z-index: 10;
    background-color: #fff7f4;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

.top170 {
    top: 170px;
}

.top290 {
    top: 290px;
}

.item-wrapper {
    min-height: 90px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 1.4rem;
}

.item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.emoji {
    font-size: 2.5rem;
    min-width: 80px;
    text-align: center;
}

.groupName {
    min-width: 180px;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
}

.order {
    margin-left: auto;
    min-width: 150px;
    text-align: center;
    color: rgb(146, 146, 146);
}

.eventDate {
    color: rgb(146, 146, 146);
}
