@media (min-width: 1600px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1500px;
    }
}

.my-container {
    height: 100%;
    display: grid;
    grid-template-rows: max-content minmax(1px, 1fr);
    gap: 10px;
}

.my-navbar {
    background-color: #D05353;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
    cursor: pointer;
}

.navbar-text {
    color: white;
}

.welcome-text {
    margin-left: 100px;
}

.active {
    font-weight: bold;
}