<div class="w-card w-clickable my-card" (click)="selectWorkspace()">
    <div appElementRef class="workspace-name">{{workspace.name}}</div>

    <div class="w-overlay"></div>

    <app-button #optionsButton="elementRef" appElementRef icon="ellipsis-v" look="transparent" [style.margin-left]="'auto'"
        (onClick)="contextMenu.open()">
    </app-button>

</div>

<app-context-menu #contextMenu [relativeTo]="optionsButton.elementRef">
    <app-button text="Edit" icon="pen"></app-button>
    <app-button text="Delete" color="danger" icon="trash" (onClick)="openDeleteDialog()"></app-button>
</app-context-menu>

<app-dialog #deleteDialog>
    <div class="delete-dialog-text">Are you sure you want to delete workspace <b>{{workspace.name}}</b>? Everything in
        this workspace will be <b>permanently deleted including messages and events</b>!</div>
    <br>
    <div class="delete-dialog-text">To delete this workspace type down its name - {{workspace.name}}</div>
    <div class="delete-dialog-inputs">
        <input class="w-input" type="text" placeholder="Workspace name" [(ngModel)]="deleteName">
        <app-button text="Delete" color="danger" look="solid" [disabled]="deleteName != workspace.name || isDeleting" (onClick)="deleteWorkspace()"></app-button>
    </div>
</app-dialog>