<div>
    <div class="title">Events</div>

    <div class="stickyTop">
        <div class="eventGroupFilter">
            <app-date-range-filter></app-date-range-filter>
            <app-event-group-filter></app-event-group-filter>
        </div>

        <div *ngIf="!addingNew" class="button-new" (click)="onNewClick()">＋ Add new</div>

        <div *ngIf="addingNew" class="item-wrapper">
            <div class="item">
                <app-event-edit style="width: 100%;" [isNew]="true" (onDone)="onNewDone($event)"></app-event-edit>
            </div>
        </div>
    </div>

    <div class="blankSpace"></div>

    <div class="result-count">Results: {{count}}</div>

    <div *ngFor="let day of events | keyvalue | orderBy: 'key' : true">
        <div class="date" [ngClass]="{'top170': !addingNew, 'top290': addingNew}">{{formatDate(day.key, true)}}</div>
        <div *ngFor="let item of day.value | orderBy: 'order'" class="item-wrapper">
            <div *ngIf="editingEventInfo != item" class="item">
                <div class="emoji">{{item.emoji}}</div>
                <div class="groupName">{{item.groupName}}</div>
                <div class="name">{{item.name}}</div>
                <div class="order">{{item.order}}</div>
                <div class="eventDate">{{formatDate(item.date, false)}}</div>
                <div class="overlay" (click)="onClick(item)"></div>
            </div>
            <div *ngIf="editingEventInfo == item" class="item">
                <app-event-edit [id]="item.id" style="width: 100%;" (onDone)="onEditDone($event)"></app-event-edit>
            </div>
        </div>
    </div>
</div>