.title {
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.stickyTop {
    position: sticky;
    background-color: #fff7f4;
    z-index: 100;
    top: 0;
    margin: -20px;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 6px 4px #f5edea;
}

.eventGroupFilter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.blankSpace {
    height: 30px;
}

.result-count {
    font-size: 1.2rem;
    color: rgb(73, 73, 73);
    text-align: right;
    margin-bottom: -45px;
    margin-top: 20px;
    z-index: 15;
}

.date {
    position: sticky;
    z-index: 10;
    background-color: #fff7f4;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

.top170 {
    top: 170px;
}

.top290 {
    top: 290px;
}

.item-wrapper {
    position: relative;
    min-height: 90px;
    background-color: #FEE9E1;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 1.4rem;
}

.item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.emoji {
    font-size: 2.5rem;
    min-width: 80px;
    text-align: center;
}

.groupName {
    min-width: 180px;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
}

.order {
    margin-left: auto;
    min-width: 150px;
    text-align: center;
    color: rgb(146, 146, 146);
}

.eventDate {
    color: rgb(146, 146, 146);
}

.overlay {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
}

.overlay:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.overlay:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.button-new {
    display: block;
    position: relative;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    outline: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(75, 143, 75);
    border: 2px dashed rgb(92, 177, 92);
    background-color: white;
    text-align: center;
    font-size: 1.5rem;
}

.button-new:not(.disabled):hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .1;
    border-radius: 8px;
}

.button-new:not(.disabled):active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .2;
    border-radius: 8px;
}