.title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.date {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}
.item-wrapper {
    position: relative;
    min-height: 90px;
    background-color: #FEE9E1;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
    
    font-size: 1.4rem;
}

.item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.emoji {
    font-size: 2.5rem;
    min-width: 80px;
    text-align: center;
}

.groupName {
    min-width: 180px;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
}

.eventDate {
    margin-left: auto;
    color: rgb(146, 146, 146);
}

.overlay {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
}
.overlay:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.overlay:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.button-new {
    display: block;
    position: relative;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    outline: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(75, 143, 75);
    border: 2px dashed rgb(92, 177, 92);
    background-color: white;
    text-align: center;
    font-size: 1.5rem;
}

.button-new:not(.disabled):hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .1;
    border-radius: 8px;
}

.button-new:not(.disabled):active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .2;
    border-radius: 8px;
}