.title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 10px;
}

.single {
    padding-bottom: 15px;
}

.filter {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin: -20px;
    margin-bottom: 5px;
    background-color: #fff7f4;
}