<div class="title"><b>Total number of</b></div>
<div class="filter">
    <app-date-range-filter></app-date-range-filter>
</div>
<div *ngIf="basicInfoTotal != null && !isLoading">
    <div>
        <div class="single">
            <app-statistic-total [displayName]="'Messages'" [statisticTotal]="basicInfoTotal.totalNumberOfMessages"
                [clickLink]="'/statistic-display/messages'">
            </app-statistic-total>
        </div>
        <div class="single">
            <app-statistic-total [displayName]="'Words'" [statisticTotal]="basicInfoTotal.totalNumberOfWords"
                [clickLink]="'/statistic-display/words'">
            </app-statistic-total>
        </div>
        <div class="single">
            <app-statistic-total [displayName]="'Characters'"
                [statisticTotal]="basicInfoTotal.totalNumberOfCharacters" [clickLink]="'/statistic-display/characters'">
            </app-statistic-total>
        </div>
        <div class="single">
            <app-statistic-total [displayName]="'Media'" [statisticTotal]="basicInfoTotal.totalNumberOfMedia"
                [clickLink]="'/statistic-display/media'">
            </app-statistic-total>
        </div>
        <div class="single">
            <app-statistic-total [displayName]="'Emojis'" [statisticTotal]="basicInfoTotal.totalNumberOfEmojis"
                [clickLink]="'/statistic-display/emojis'">
            </app-statistic-total>
        </div>

        <div class="single" *ngFor="let statistic of customStatistics">
            <app-statistic-total [displayName]="statistic.name" [statisticTotal]="statistic.statisticTotal"
                [clickLink]="'/statistic-display/custom/' + statistic.id">
            </app-statistic-total>
        </div>
    </div>
</div>
<div *ngIf="isLoading" style="margin-top: 100px">
    <app-loading></app-loading>
</div>