<div class="title"><b>Total number of</b></div>
<div class="filter">
    <app-date-range-filter></app-date-range-filter>
</div>
<div>
    <div>
        <div class="single">
            <app-statistic-total [displayName]="'Messages'"
                [statisticTotalApiUrl]="'statistic/getStatisticTotal/numberOfMessages'"
                [clickLink]="'/statistic-display/messages'">
            </app-statistic-total>
        </div>
        <div class="single">
            <app-statistic-total [displayName]="'Words'"
                [statisticTotalApiUrl]="'statistic/getStatisticTotal/numberOfWords'"
                [clickLink]="'/statistic-display/words'">
            </app-statistic-total>
        </div>
        <div class="single">
            <app-statistic-total [displayName]="'Characters'"
                [statisticTotalApiUrl]="'statistic/getStatisticTotal/numberOfCharacters'"
                [clickLink]="'/statistic-display/characters'">
            </app-statistic-total>
        </div>
        <div class="single">
            <app-statistic-total [displayName]="'Media'"
                [statisticTotalApiUrl]="'statistic/getStatisticTotal/numberOfMedia'"
                [clickLink]="'/statistic-display/media'">
            </app-statistic-total>
        </div>
        <div class="single">
            <app-statistic-total [displayName]="'Emojis'"
                [statisticTotalApiUrl]="'statistic/getStatisticTotal/numberOfEmojis'"
                [clickLink]="'/statistic-display/emojis'">
            </app-statistic-total>
        </div>

        <div class="single" *ngFor="let statistic of customStatistics">
            <app-statistic-total [displayName]="statistic.name"
                [statisticTotalApiUrl]="'statistic/getStatisticTotal/custom/' + statistic.id"
                [clickLink]="'/statistic-display/custom/' + statistic.id">
            </app-statistic-total>
        </div>
        <div *ngIf="!addingNew" class="button-new" (click)="onNewClick()">＋ Add new</div>
        <div *ngIf="addingNew">
            <div class="newStatisticWrapper">
                <div>Name:</div>
                <div>
                    <div class="underlined" contenteditable="true"
                        (input)="onPropertyChange('name', $event.target.innerText)"></div>
                        
                </div>
                &nbsp;&nbsp;&nbsp;
                <div>Regex:</div>
                <div>
                    <div class="underlined" contenteditable="true"
                        (input)="onPropertyChange('regex', $event.target.innerText)"></div>
                </div>

                <div class="button button-save" (click)="save()">Save</div>
                <div class="button button-cancel" (click)="cancel()">Cancel</div>
            </div>
        </div>
    </div>
</div>