<div class="my-button" [class.curved]="curved" [class.curved-top-left]="curvedTopLeft"
    [class.curved-top-right]="curvedTopRight" [class.curved-bottom-left]="curvedBottomLeft"
    [class.curved-bottom-right]="curvedBottomRight" [class.my-disabled]="disabled"
    [class.icon-only]="(text == null || text == '') && icon != null" [class.circle]="isCircle"
    [ngClass]="['color-' + color, 'look-' + look, 'border-' + borderStyle, 'align-' + alignContent, 'icon-placement-' + iconPlacement]"
    [style]="'--border-width: ' + borderWidth + '; --width: ' + width" (click)="onClicked($event)" tabindex="0">

    <fa-icon *ngIf="isLoading || icon != null" class="my-icon" [icon]="[iconPrefix, isLoading ? loadingIcon : icon]"
        [fixedWidth]="true" [style.font-size]="'0.8em'" [spin]="spinIcon || isLoading"></fa-icon>
    {{text}}
    <ng-content></ng-content>
</div>